body {
    background-color: #e4e6eb;
    font-family: 'Assistant', sans-serif;
    color: #071c4d;
}

// Navbar

//Logo Navbar
.navbar-brand {
    img {
        margin-left: 20px;
        max-width: 350px;
    }
}
//Font Navbar
.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #071c4d;
            &.active {
                font-weight: bold;
                color: #071c4d !important;
            }
        }
    }
}
// End Navbar

//Btn Login
.btn-login {

    background-color:#071C4D;
    color: #ffffff;

    &:hover {
        background-color:#2c2094;
        color: #ffffff;
    }
}
//Btn Login

//Btn More
.btn-more {
    
    background-color:#F5647D;
    color: #ffffff;

    &:hover {
        background-color:#F196A6;
        color: #ffffff;
    }
}
//Btn More

//Carousel
.carousel {
    .carousel-inner {
        height: 657px;
        margin-bottom: 20px;
    }
}
//End Carousel

//ABout Us
.section-about-us {
    min-height: 575px;
    background: linear-gradient(#ffffff 0%,#a6a8af 100%);
    margin-top: -80px;

    .section-about-us-heading {
        margin-top: 80px;
        padding-top: 70px;
        padding-bottom: 20px;
        h2,p {
            color:#071C4D;
        }
        h2 {
            font-family: 'Playfair Display',serif;
            font-weight: bold;
            font-size: 40px;
        }
        p {
            padding-top: 30px;
            text-align: justify;
            font-size: 18px;
        }
    }
    
}
//ABout Us

//Visi Misi
.section-vission {
    h2 {
        font-family: 'Playfair Display',serif;
        font-weight: bold;
        font-size: 40px;
    }
    p {
        padding-top: 30px;
        font-style: italic;
        text-align: justify;
        font-size: 18px;
    }
}

.section-mission {
    h2 {
        font-family: 'Playfair Display',serif;
        font-weight: bold;
        font-size: 40px;
    }
    p {
        padding-top: 30px;
        font-style: italic;
        text-align: justify;
        font-size: 18px;
    }
}
//Visi Misi

//Rewards
.section-rewards {
    background-color: #ffffff;
    min-height: 675px;
    padding-top: 70px;
    h2 {
        font-family: 'Playfair Display',serif;
        font-weight: bold;
        font-size: 40px;
    }
}
.section-rewards-content {
    background-color: #ffffff;
    margin-top: -440px;
    .section-rewards-images {
        .card-rewards {
            margin-top: 30px;
            min-height: 180px;
            background-color: #fff;
            color: #fff;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;
        }
    }
}
//Rewards

//Why Choose Us
.section-why-choose-us {
    
    background-color: #ffffff;
    h2 {
        font-family: 'Playfair Display',serif;
        font-weight: bold;
        font-size: 40px;
    }
    p {
        padding-top: 15px;
        text-align: justify;
        font-size: 18px;
    }
    img {
        max-width: 100%;
    }        
}

.features {
    margin-top: 20px;
    
    h3 {
        font-size: 18px;
        color: #071c4d;
        margin-bottom: 0;
        text-align: middle;
    }

    .description {
        margin-left: 10px;
        overflow: hidden;
        float: left;
    }

    .features-image {
        width: 45px;
        height: 45px;
        float: left;
    }
}
//Why Choose Us

//Our Customers
.section-our-customers {
    background-color: #ffffff;
    min-height: 575px;
    padding-top: 130px;
    h2 {
        font-family: 'Playfair Display',serif;
        font-weight: bold;
        font-size: 40px;
    }
}
.section-our-customers-content {
    background-color: #ffffff;
    margin-top: -370px;
    .section-our-customers-images {
        .card-our-customers {
            margin-top: 30px;
            min-height: 150px;
            background-color: #fff;
            color: #fff;
            max-width: 100%;
            margin-bottom: 80px;
        }
        .img-fluid {
            align-self: justify;
        }
    }
}
//Our Customers

//Footer
.section-footer {
    
    background-color: #EFF4FC;
    h5 {
        color:#071C4D;
        font-family: 'Playfair Display',serif;
        font-weight: bold;
    }
    img {
        max-width: 80%;
    } 
    a {
        color: #071c4d;
        text-decoration: none;
    }
    ul {
        img {
            max-width: 50%;
        }
    }
}

.container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}